@model Navigation
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mb-3 main-nav">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            @Model.BrandName
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                @foreach (var item in Model.Items)
                {
                    if (item.Items.Any())
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <icon value="@item.Icon" />
                                @item.Text
                                <icon value="ChevronCompactRight" />
                            </a>
                            <ul class="dropdown-menu">
                                @foreach (var child in item.Items)
                                {
                                    <li><a class="dropdown-item" href="@child.Url">@child.Text</a></li>
                                }
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@item.Url"><icon value="@item.Icon" /> 
                                @item.Text
                                <icon value="ChevronCompactRight" />
                            </a>
                        </li>
                    }
                }              
            </ul>
        </div>
    </div>
</nav>

