@model PageIndexModel;
@{
    ViewData[ViewKey.Title] = $"{Model.SiteText} Pages";
}

<div class="row mt-2">
    <div class="col-md-8">
        <h2>Pages: @Model.SiteText</h2>
    </div>
    <div class="col-md-4 text-end">
        <a asp-controller="Sites" asp-action="Index"><icon value="ArrowLeftShort"></icon> Back to Sites</a>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        @if (Model.Pages.Any())
        {
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Page</th>
                        <th class="text-center">Index</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Delete</th>
                        <th class="text-center">Groups</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Pages)
                    {
                        <tr>
                            <td>@item.Text</td>
                            <td class="text-center">@item.SortIndex</td>
                            <td class="text-center">
                                <a asp-route="Pages" asp-route-action="Edit" asp-route-siteSlug="@Model.SiteSlug" asp-route-pageSlug="@item.Slug">
                                    <icon value="GarageEdit" />
                                </a>
                            </td>
                            <td class="text-center">
                                <a asp-route="Pages" asp-route-action="Delete" asp-route-siteSlug="@Model.SiteSlug" asp-route-pageSlug="@item.Slug">
                                    <icon value="GarageDelete"/>
                                </a>
                            </td>
                            <td class="text-center">
                                <a asp-route="Groups" asp-route-action="Index" asp-route-siteSlug="@Model.SiteSlug" asp-route-pageSlug="@item.Slug">
                                    <icon value="GarageGroup" />
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No pages found for current site</p>
        }       
    </div>
</div>
<div class="row">
    <div class="col-12 text-end">
        <a asp-controller="Pages" asp-action="Add" asp-route-id="@Model.SiteSlug">
            <icon value="PlusCircle"/> Add Page
        </a>
    </div>
</div>